 # Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.

exec mysql.cfg

# Required
ensure mapmanager
ensure chat
ensure chat-theme-voodo
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
start cron
start connectqueue

exec resources.cfg

# Voor lamba
sv_scriptHookAllowed 0

# Rcon (NIET GEBRUIKT)
#
# Tags
sets tags "custom,framework"

# Language
sets locale "fr-FR" 

# Banner
sets banner_detail "LINK"
sets banner_connecting "LINK"
sets Discord "DISCORDLINK"
sets Teamspeak "TEAMSPEAKLINK"

# Set your server's hostname

# Nested configs!
# exec resources.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "skrt"

set sv_displayqueue true # shows queue count in the server name '[count] server name'
# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Add system admins
add_ace builtin.everyone qbcommands allow

# Add moderator group
add_principal group.moderator

#qb-admin permissions
add_ace group.admin qbadmin allow # admin can do everything

add_ace group.moderator qbadmin.join allow

add_ace group.admin resource.els-plus command.add_ace allow

add_ace group.admin command allow # allow all commands
add_principal identifier.steam:11000010ab10cc4 group.admin # Kane
add_principal identifier.steam:11000010c636850 group.admin # Dakota
add_principal identifier.steam:1100001072cee08 group.admin # Psyco
add_principal identifier.steam:110000118e9bc31 group.admin # Jeroen
add_principal identifier.steam:11000011c39e963 group.admin # Colin
add_principal identifier.steam:1100001152d3baf group.admin # Rijas
add_principal identifier.steam:110000113087c16 group.admin # Ghunter

add_ace group.admin command.filmpie 

# Hide player endpoints in external log output.
sv_endpointprivacy true

# License key for your server (https://keymaster.fivem.net)
# 
# Steam web api

# Max clients


sv_hostname "\"[FR] ^4 Nice City Dev 3 ^2[^0FreeAccess^2] [RP 100% Français] 75.000$ START ^9- ^3 32 Slots ^9- ^6 60 FPS ^9- ^1 Staff Actif , Aider nous a prendre un bon serveur ^9- ^4 150 Voitures Moddés ^9- ^0 https://discord.gg/t4ApsN2fUx"
rcon_password "6bKLYiDC8uONP8tD"
sv_maxclients 4
endpoint_add_tcp "178.33.104.217:31145"
endpoint_add_udp "178.33.104.217:31145"
set sv_listingIPOverride "178.33.104.217"
sv_licenseKey bbznmo9of0uhatgotmwcbzcfv9qtcryr
set steam_webApiKey  AAC69DD465CBB8C72AAB055E4E672490